body {
    margin: 0;
    padding: 0;
}

#griddiv {
    display:grid;
    grid-template-columns: repeat(var(--spalten),1fr);
    width: min(50vh, 100vw);
}

#griddiv > div{
    display:flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    font-family: sans-serif;
    font-weight: bold;
    font-size: min(4vh, 8vw);
}
/* from https://stackoverflow.com/questions/35990304/how-to-position-overlay-fixed-div-to-the-center-with-css */
#overlay {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color: white; background: #666666; opacity: .8;
    z-index: 1000;
}

button {
    width:100%;
    font-size: min(3vh, 6vw);
}


@media print {
    #griddiv {
        width:40%;
    }
    #griddiv > div {
        font-size:3vw;
    }
    #knopf, #solve{
        display:none;
    }
}