
#griddiv {
    display:grid;
    grid-template-columns: repeat(var(--spalten),1fr);
    width: min(50vh, 100vw);
}

#griddiv > div{
    display:flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    border-color:black;
    border-style:solid;
    border-width: 1px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: min(4vh, 8vw);
}

@media print {
    #griddiv {
        width:40%;
    }
    #griddiv > div {
        font-size:3vw;
    }
    #knopf, #solve{
        display:none;
    }
}